<h2 class="display-5 fw-bold">Sobre Heroes App</h2>
<hr>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam nostrum aspernatur reiciendis consequatur aperiam in fugit voluptatibus hic asperiores, et sequi ullam facilis labore a ipsa ratione! Rerum, nulla.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam nostrum aspernatur reiciendis consequatur aperiam in fugit voluptatibus hic asperiores, et sequi ullam facilis labore a ipsa ratione! Rerum, nulla.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam nostrum aspernatur reiciendis consequatur aperiam in fugit voluptatibus hic asperiores, et sequi ullam facilis labore a ipsa ratione! Rerum, nulla.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam nostrum aspernatur reiciendis consequatur aperiam in fugit voluptatibus hic asperiores, et sequi ullam facilis labore a ipsa ratione! Rerum, nulla.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam nostrum aspernatur reiciendis consequatur aperiam in fugit voluptatibus hic asperiores, et sequi ullam facilis labore a ipsa ratione! Rerum, nulla.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ipsam nostrum aspernatur reiciendis consequatur aperiam in fugit voluptatibus hic asperiores, et sequi ullam facilis labore a ipsa ratione! Rerum, nulla.
</p>
